<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Glassyzone - Đăng nhập</title>
<link th:insert="~{common/taglib  :: taglib}">
<style>
</style>
</head>
<body  ng-app="shopping-cart-app" ng-controller="shopping-cart-ctrl">
	<div th:insert="~{common/header :: header}"></div>
	<br>
	<br>
	<div class="container">
		<div class="row justify-content-center mt-5">
			<div class="col-md-6">
				<h2 class="text-center mb-4">Đăng Nhập</h2>
				<p class="text-center text-danger">[[${message}]]</p>
				<form th:action="@{/login}" method="post">
					<!-- Email input -->
					<div class="form-outline mb-4">
						<input th:value="${username}" name="username" id="form2Example1"
							class="form-control" /> <label class="form-label"
							for="form2Example1">Username</label>
					</div>

					<!-- Password input -->
					<div class="form-outline mb-4">
						<input th:value="${password}" name="password" type="password"
							id="form2Example2" class="form-control" /> <label
							class="form-label" for="form2Example2">Mật khẩu</label>
					</div>

					<!-- 2 column grid layout for inline styling -->
					<div class="row mb-4">
						<div class="col d-flex justify-content-center">
							<!-- Checkbox -->
							<div class="form-check">
								<input name="remember-me" class="form-check-input" type="checkbox"
									id="form2Example31" /> <label class="form-check-label"
									for="form2Example31"> Remember me </label>
							</div>
						</div>
						<div class="col">
							<a th:href="@{/	}" class="text-decoration-none">Quên mật khẩu</a>
						</div>
					</div>
					<button type="submit"
						class="btn btn-primary form-control btn-block mb-4">Đăng
						nhập</button>
				</form>
				<div class="text-center ">
					<p>
						Bạn chưa có tài khoản? <a th:href="@{/signup}"
							class="text-decoration-none">Đăng ký</a>
					</p>
					<!-- <p> 
						<a href="/oauth2/authorization/google">Google</a>
						<a href="/oauth2/authorization/facebook">Facebook</a>
					</p> -->
				</div>
			</div>
		</div>
	</div>
	<br>
	<div th:insert="~{common/footer :: footer}"></div>
</body>
<script>
const app = angular.module("shopping-cart-app", []);
app.controller("shopping-cart-ctrl", function($scope, $rootScope, $http) {
    $scope.cart = {
        items: [],

        add: function(id) {
            var item = this.items.find(item => item.id == id);
            if (item) {
                item.qty++;
                this.saveToLocalStorage();
            } else {
                $http.get(`/product/${id}`).then(response => {
                    response.data.qty = 1;
                    this.items.push(response.data);
                    this.saveToLocalStorage();
                });
            }
        },

        remove: function(id) {
			
        },

        clear: function() {
            this.items = [];
            this.saveToLocalStorage();
        },

        amt_of: function(item) {
            // Implement the amt_of logic here
        },

        get count() {
            return this.items.map(item => item.qty).reduce((total, qty) => total + qty, 0);
        },

        get amount() {
            return this.items
            .map(item => item.qty * item.price)
            .reduce((total, qty) => total + qty, 0);
        },

        saveToLocalStorage: function() {
            var json = JSON.stringify(angular.copy(this.items));
            localStorage.setItem("cart", json);
        },

        loadFromLocalStorage: function() {
            var json = localStorage.getItem("cart");
            this.items = json ? JSON.parse(json) : [];
        }
    };
    $scope.cart.loadFromLocalStorage();
});
</script>
</html>