<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Glassyzone - Đăng Ký</title>
<link th:insert="~{common/taglib  :: taglib}">
<style>
</style>
</head>
<body  ng-app="shopping-cart-app" ng-controller="shopping-cart-ctrl">
	<div th:insert="~{common/header :: header}"></div>
	<br>
	<br>
	<br>
	<div class="container">
		<div class="row justify-content-center mt-5">
			<h2 class="text-center mb-4">Đăng Ký</h2>
			<span class=" text-danger text-center" th:text="${message}"> </span>
			<br><br>
			<div class="col-md-6">
				<form th:action="@{/signup}" th:object="${user}" method="post">
					<div class="form-outline mb-4">
						<input th:field="*{name}" id="form2Example1" class="form-control"
							placeholder="Họ và tên" />
					</div>

					<div class="form-outline mb-4">
						<input th:field="*{address}" id="form2Example2"
							class="form-control" placeholder="Địa chỉ" />
					</div>

					<div class="form-outline mb-4">
						<input th:field="*{phone}" id="form2Example2" class="form-control"
							placeholder="Số điện thoại" />
					</div>

					<div class="form-outline mb-4">
						<input th:field="*{email}" type="email" id="form2Example2"
							class="form-control" placeholder="Địa chỉ email" />
					</div>

					<div class="form-outline mb-4">
						<input th:field="*{username}" id="form2Example2"
							class="form-control" placeholder="Tên đăng nhập" />
					</div>
					<div class="form-outline mb-4">
						<input th:field="*{password}" type="password" id="form2Example2"
							class="form-control" placeholder="Mật khẩu" />
					</div>
					<div class="form-outline mb-4">
						<input name="confirmPass" type="password" id="form2Example2"
							class="form-control" placeholder="Nhập lại mật khẩu" />
					</div>
					<button type="submit"
						class="btn btn-primary form-control btn-block text-center mb-4">Đăng
						ký</button>

					<div class="text-center">
						<p>
							Bạn đã có tài khoản? <a th:href="@{/login}"
								class="text-decoration-none">Đăng nhập</a>
						</p>
					</div>
				</form>
			</div>
		</div>
	</div>
	<br>
	<div th:insert="~{common/footer :: footer}"></div>
</body>
<script>
const app = angular.module("shopping-cart-app", []);

app.controller("shopping-cart-ctrl", function($scope, $rootScope, $http) {
	 var cartCtrl = this;
	$scope.cart = {
        items: [],
        add: function(id) {
            var itemIndex = this.items.findIndex(item => item.id === id);

            if (itemIndex !== -1) {
                var item = this.items[itemIndex];
                item.qty++;
                item.total = item.qty * item.productPrice;
                this.saveToLocalStorage();
            } else {
                $http.get(`/product/${id}`).then(response => {
                    response.data.qty = 1;
                    response.data.total = response.data.qty * response.data.productPrice;
                    this.items.push(response.data);
                    this.saveToLocalStorage();
                });
            }
        },

        remove: function(id) {
            var index = this.items.findIndex(item => item.id == id);
            if (index !== -1) {
                this.items.splice(index, 1);
                this.saveToLocalStorage();
            }
        },

        clear: function() {
            this.items = [];
            this.saveToLocalStorage();
        },

        amt_of: function(item) {
            return item.qty * item.productPrice;
        },

        get count() {
            return this.items.map(item => item.qty).reduce((total, qty) => total + qty, 0);
        },

        get amount() {
            return this.items
                .map(item => item.qty * item.productPrice)
                .reduce((total, qty) => total + qty, 0);
        },

        saveToLocalStorage: function() {
            var json = JSON.stringify(angular.copy(this.items));
            localStorage.setItem("cart", json);
        },

        loadFromLocalStorage: function() {
            var json = localStorage.getItem("cart");
            this.items = json ? JSON.parse(json) : [];
        },
        
       updateCartItem: function(item) {
            item.qty = parseInt(item.qty); // Đảm bảo qty là một số nguyên
            item.total = item.qty * item.productPrice;
            $scope.cart.saveToLocalStorage();
        }

    };
    $scope.cart.loadFromLocalStorage();
});
</script>
</html>