<html xmlns:th="http://www.thymeleaf.org">


<div th:fragment="sidebar"
	class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
	<ul
		class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start"
		id="menu">
		<li class="nav-item"><a href="/admin/user"
			class="nav-link align-middle px-0"> <i class="fs-4 bi-house"></i>
				<span class="ms-1 d-none d-sm-inline">Quản lý người dùng</span>
		</a></li>
		<li><a href="/admin/order" class="nav-link px-0 align-middle">
				<i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline">Quản
					lý đơn hàng</span>
		</a></li>
		<li><a href="/admin/orderDetail"
			class="nav-link px-0 align-middle"> <i class="fs-4 bi-people"></i>
				<span class="ms-1 d-none d-sm-inline">Chi tiết đơn hàng</span>
		</a></li>
		<li><a href="/admin/category" class="nav-link px-0 align-middle">
				<i class="fs-4 bi-people"></i> <span class="ms-1 d-none d-sm-inline">Danh
					mục sản phẩm</span>
		</a></li>
		<li><a href="/admin/products" class="nav-link px-0 align-middle">
				<i class="fs-4 bi-people"></i> <span class="ms-1 d-none d-sm-inline">Sản
					phẩm</span>
		</a></li>
	</ul>
	<hr>

</div>

</html>