<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="icon" href="/image/logo.png" type="image/x-icon">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Checkout</title>
<style>
.container-fluid {
	margin: 120px 0 0 0;
}
</style>
<link th:insert="~{common/taglib  :: taglib}">
<body ng-app="shopping-cart-app" ng-controller="shopping-cart-ctrl">
	<div th:insert="~{common/header :: header}"></div>
	<div class="container-fluid">
		<h3 class="text-center mb-4">Nhập mã xác thực</h3>
		<p class="text-center text-danger">[[${message}]]</p>
		<div class="row justify-content-center align-items-center ">
			<div class="col-md-6">
				<form th:action="@{/order/validate}" method="post">
					<div class="mb-3">
						<label for="exampleInputEmail1" class="form-label">Nhập mã
							xác thực gồm 6 chữ số trong email của bạn</label> <input type="text"
							class="form-control" name="OTPcode" id="exampleInputEmail1"
							aria-describedby="emailHelp" required>
					</div>
					<button class="btn btn-primary">Xác nhận mua hàng</button>
				</form>
			</div>
		</div>

	</div>
	</div>
	<div th:insert="~{common/footer :: footer}"></div>
</body>
<script>
const app = angular.module("shopping-cart-app", []);

app.controller("shopping-cart-ctrl", function($scope, $rootScope, $http) {
	 var cartCtrl = this;
	$scope.cart = {
        items: [],
        add: function(id) {
            var itemIndex = this.items.findIndex(item => item.id === id);

            if (itemIndex !== -1) {
                var item = this.items[itemIndex];
                item.qty++;
                item.total = item.qty * item.productPrice;
                this.saveToLocalStorage();
            } else {
                $http.get(`/product/${id}`).then(response => {
                    response.data.qty = 1;
                    response.data.total = response.data.qty * response.data.productPrice;
                    this.items.push(response.data);
                    this.saveToLocalStorage();
                });
            }
        },

        remove: function(id) {
            var index = this.items.findIndex(item => item.id == id);
            if (index !== -1) {
                this.items.splice(index, 1);
                this.saveToLocalStorage();
            }
        },

        clear: function() {
            this.items = [];
            this.saveToLocalStorage();
        },

        amt_of: function(item) {
            return item.qty * item.productPrice;
        },

        get count() {
            return this.items.map(item => item.qty).reduce((total, qty) => total + qty, 0);
        },

        get amount() {
            return this.items
                .map(item => item.qty * item.productPrice)
                .reduce((total, qty) => total + qty, 0);
        },

        saveToLocalStorage() {
            var json = JSON.stringify(angular.copy(this.items));
            localStorage.setItem("cart", json);
        },

        loadFromLocalStorage() {
            var json = localStorage.getItem("cart");
            this.items = json ? JSON.parse(json) : [];
        },
        
/*        updateCartItem: function(item) {
            item.qty = parseInt(item.qty); // Đảm bảo qty là một số nguyên
            item.total = item.qty * item.productPrice;
            $scope.cart.saveToLocalStorage();
        } */

    };
    $scope.cart.loadFromLocalStorage();
});
</script>
</html>