
<html xmlns:th="http://www.thymeleaf.org">
<body th:fragment="footer">
	<div class="blockcode">
		<footer class="page-footer shadow">
			<div class="d-flex flex-column mx-auto py-5" style="width: 80%">
				<div class="d-flex flex-wrap justify-content-between">
					<div>
						<a href="/#" class="d-flex align-items-center p-0 text-dark">
							<img alt="logo" src="/image/h120-GlassyZone_Logo-ngang.png" width="192px"
							height="38.79px" />
						</a>
						<p class="my-3" style="width: 350px">
							<span class="fw-bold"> Cơ sở 1: </span>123 Phan Huy Ích - P12 -
							Q.Gò Vấp
						</p>
						<p class="my-3" style="width: 350px">
							<span class="fw-bold">Cơ sở 2: </span> 6789 Út Tịch - P8 - Q.Tân
							Bình
						</p>
					</div>
					<div>
						<p class="h5 mb-4" style="font-weight: 600">CHÍNH SÁCH</p>
						<ul class="p-0" style="list-style: none; cursor: pointer">
							<li class="my-2"><a class="text-dark text-decoration-none"
								href="/">Chính sách bảo hành</a></li>
							<li class="my-2"><a class="text-dark text-decoration-none"
								href="/">Chính sách đổi trả</a></li>
							<li class="my-2"><a class="text-dark text-decoration-none"
								href="/">Chính sách giao hàng</a></li>
							<li class="my-2"><a class="text-dark text-decoration-none"
								href="/">Chính sách bảo mật</a></li>
						</ul>
					</div>
					<div>
						<p class="h5 mb-4" style="font-weight: 600">THÔNG TIN</p>
						<ul class="p-0" style="list-style: none; cursor: pointer">
							<li class="my-2"><a class="text-dark text-decoration-none"
								href="/">Giới thiệu</a></li>
							<li class="my-2"><a class="text-dark text-decoration-none"
								href="/">Liên hệ</a></li>
							<li class="my-2"><a class="text-dark text-decoration-none"
								href="/">Thông tin tài khoản</a></li>
						</ul>
					</div>
					<div>
						<p class="h5 mb-4" style="font-weight: 600">TRỢ GIÚP</p>
						<ul class="p-0" style="list-style: none; cursor: pointer">
							<li class="my-2"><a class="text-dark text-decoration-none"
								href="/">0913222666</a></li>
							<li class="my-2"><a class="text-dark text-decoration-none"
								href="/">0987999999</a></li>
							<li class="my-2">Giờ làm việc: 9:00 - 21:00 </li>
							<li class="my-2">Tất cả các ngày trong tuần</li>
						</ul>
					</div>
				</div>
				<div class="text-center mt-4">
					<div class="mb-4">
						<img src="/image/ssl-secure-1.png" width="132px" height="50px">
						<img src="/image/bocongthuong-dathongbao.png" width="132px"
							height="50px">

					</div>
					<small>&copy; Glassyzone, 2023. All rights reserved.</small>
				</div>
			</div>
		</footer>
	</div>
</body>
</html>